In [14]:
#1
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [15]:
#2
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [16]:
#3
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [3]:
#4
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [1]:
#5
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [5]:
#6
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [7]:
#7
thistuple = ("apple", "banana", "cherry")
thattuple = list(thistuple)
thattuple[1] = "kiwi"
thistuple = tuple(thattuple)

print(thistuple)

('apple', 'kiwi', 'cherry')

In [8]:
#8
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [9]:
#9
thistuple = ("apple",)
print(type(thistuple))

thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [10]:
#10
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [1]:
#11
name = ("renuga","renita","regina")
print(name[0])

renuga

In [3]:
#12
name = ("renuga","renita","regina")
print(name[-2])

renita

In [6]:
#13
name = ("renita","regina","renuga","jimin","jungkook","mew","gulf","tae")
print(name[2:7])

('renuga', 'jimin', 'jungkook', 'mew', 'gulf')

In [11]:
#14
name = ("renita","regina","renuga","jimin","jungkook","mew","gulf","tae")
print(name[-6:-3])

('renuga', 'jimin', 'jungkook')

In [13]:
#15
x = ("jimin","jungkook","renuga")
y=list(x)
y[2]="tae"
x=tuple(y)
print(x)

('jimin', 'jungkook', 'tae')

In [15]:
#16
hehe = ("jimin","jungkook","renuga")
for x in hehe:
    print(x)

jimin
jungkook
renuga

In [16]:
#16
bts = ("jimin", "jungkook", "tae")
if "tae" in bts:
  print("Yes, 'tae' is in bts")

Yes, 'tae' is in bts

In [17]:
#17
bts = ("jimin", "jungkook", "tae")
print(len(bts))

3

In [19]:
#18
number = (123)
print(type(number))
number= (1,2,3)
print(type(number))

<class 'int'>
<class 'tuple'>

In [23]:
#19
name = ("renuga","renita","regina")
bday = (13,5,8)

hai= name+bday
print(hai)

('renuga', 'renita', 'regina', 13, 5, 8)

In [21]:
#20
name = tuple(("renuga","renita","regina"))
print(name)

('renuga', 'renita', 'regina')